* {
    padding: 0 auto;
    margin: 0 auto;
  }
  * {
    box-sizing: border-box;
  }
body{

    background-color: #f1ecea;
}
#contenedor{
    width: 900px;
    height: 1000px;
    text-align: justify;
}
.cabecera{
    background-color: #3a251c;
    height: 15%;
    text-align: center;
    text-align: justify;
    color: white;
 
}
#menu{
    background-color: #b46424;
    height: 5%;

}
.barranavegacion{
    text-align: center;
    display: flex;
    font-size:large;

}
#seccion{
    height: 64%;
    width: 64%;
    display: flex;
    float: left;
    background-color: #362f2f;
    text-align: justify;
  

    

}
.imagenes{

    display: flex;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    float: left;
    padding: 20px;




}
img{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
    align-content: center;

 
}
ul{
    text-align: center;
    display: flex;
}
li{
    list-style: none;
}
#aseccion{
    height: 64%;
    width: 35%;
    background-color: #b58c7c;
    float: right;
    text-align: center;


    
}

    #pie{
        height: 10%;
        width: 100%;
        text-align: center;
        padding: 1px;
        border: 1px solid black;
        background-color: #3a251c;
        display: inline-block;
        text-decoration: white;
    }
    .Mexico{
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
  
        text-decoration: white;
        color: white;
    }
